.main{
    color: brown;
    width: 400px;

    
}
.box{
    display: flex;
    justify-content:center ;
    background-color: #e6c5a7;
    opacity: 0.8;
    width: 30rem;
    height: 35rem;
}
.container{
    
    width: 90vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
label{
    display: inline-block;
    margin-right: 10px;
}